streamlit
gTTs
requests
SpeechRecognition
deep-translator
gtts
beautifulsoup4
googletrans
pyaudio
langchain
pydantic>=1.10.13,<2.0
cohere
pandas
numpy
scikit-learn
cohere
joblib
transformers
torch
flask
urllib3
forms
